.activity {
    padding: 5px;
    background-color:var(--card-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.activity-btn {
    width: 100%;
    background-color: var(--btn);
    border-radius: 6px;
    color: white;
    font-size: 15px;
}

.activity-btn:hover {
    background-color: var(--btn-hover);
}
.requiredTime {
    margin-left: 5px;
}