.complete-btn {
    background-color: var(--btn);
    color: white;
    width: 100%;
    padding: 13px;
    margin-top: 10px;
    border-radius: 10px;
}
.complete-btn:hover {
    background-color: var(--btn-hover);
}

.break-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.break-buttons button {
    border-radius: 7px;
}

.break-buttons button:hover {
    background-color: var(--btn-hover);
    color: white;
}